/* Overall general rules for the entire page */
body {
    color: #383737;;
    font-family: 'Overlock', cursive;
    font-size: 20px;
    margin:0;
}
/* Center everything on the page with appropriate width*/
.centerdiv{
    width: 60%;
    margin: auto;
}
/* Create the header */
#name_header {
    text-align: center;
    background-image: url("red-gradient-background.png");
    height: 500px;
}
/* Create a column view for the work entries and short description + image */
.columnleft {
    flex: 50%;
}
.columnright{
    flex: 50%;
}
.row {
    display: flex;
}
#imgEdit img {
    height: 70%;
    width: 90%;
}
/* Adjust the size, display, and/or position of headings */
h1 {
    color: White;
    font-size: 800%;
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
    color: firebrick;
    font-size: 200%;
}
h3 {
    color: #383737;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}
/* Creating the table about my "skills" */
table, th, td {
    color: #383737;;
    padding: 1em;
    text-align: center;
    }
th, td {
    border: 1px; 
    border-style: solid;
    border-color: #383737;;
    }
/* button functionality */
.button {
    background-color: transparent;
    border: none;
    padding: 90px;
    cursor: pointer;
  }
i {
    color: #383737;
    font-size:65px;
    position: absolute;
    bottom: 45%;
}
.viewIcon {
    display: flex;
    flex-direction: column;
    position: fixed;
}
/* 5 different elements effecting the work entries*/
#listy ol {
    border: 2px;
    border-style: dashed;
} 
#listy ol ul {
    font-weight: bolder;
    font-size: 95%;
}
#listy ol ul ul {
    font-size: 90%;
    text-decoration: none;
}